<div fxLayout="column"style="width: 100%"  >
  <header class="header-container">
    <div fxLayout="row" class="container-list"> 
      <h2 fxFlex="95" fxLayoutAlign="center" class="header-title">Recipe King - Be A Gordon Ramsay at home!</h2>
        <div fxLayoutAlign="start" fxFlex="5" *ngIf="backBtn">
            <img src="../assets/back-arrow.svg" (click)="back()" class="img-bg" />
        </div>
    </div>     
  </header>
  <div class="render-app">
    <router-outlet></router-outlet>
  </div>
</div>

