.header-container{
    z-index:999;width: 100%;  height: 70px; position: fixed;top:0px;left:0px;
}
.container-list{
    background-image:url('../assets/meal-plan-bg.jpg'); background-repeat: no-repeat; width: 100%; height: 70px;
}
.render-app{
    width: 100%; height:100%; position: absolute; top: 70px;right: 0px; left: 0px;
}
.img-bg{
    height: 50px;width: 50px; margin: 12px; cursor: pointer;
}
.header-title{
    color:#dd3939;
}