.example-card {
    max-width: 400px;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .example-header-image {
    background-image: url('/./assets/meal.jpg');
    background-size: cover;
  }