<div fxLayout="row" class="container"> 
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutWrap fxLayoutGap="5px" class="container-list">
    <div class="example-card" *ngFor="let categorie of categoriesList" (click)="onSelect(categorie)" >      
        <div><img class="image-container" src="http://{{categorie.strMealThumb}}" alt=""></div>
        <div fxLayout="column">
          <div fxLayoutAlign="center" class="title-font">{{categorie.strArea}} Recipe</div>
          <div fxLayoutAlign="center" class="title-font">{{categorie.strMeal}}</div>
        </div>     
    </div> 
  </div> 
</div>


